<a href="https://colab.research.google.com/github/VISHNUNARAYANAN-M/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2

In [19]:
def my_details():
  name,age="vishnunarayanan.m",18
  address="print address"
  print("Name:{}\nAge:{}\nAddress:{}".format(name,age,address))
my_details()

Name:vishnunarayanan.m
Age:18
Address:print address

3

In [22]:
print("your name is,name")

print("your name is,vishnu")

your name is,name
your name is,vishnu

4

In [32]:
width=int(input("enter the width:"))
height=int(input("enter the height:"))
area=width*height
print("the area is",area,"square units")

enter thewidth:10
enter the height:15
the area is 150 square units

5

In [36]:
base=int(input("enter the base:"))
height=int(input("enter the height:"))
area= .5*base*height
print("the area is",area,"square units")

enter the base:12
enter the height:14
the area is 84.0 square units

6

In [39]:
radius=int(input("enter the radius:"))
area=3.14*radius**2
print("the area is",area,"square units")

enter the radius:14
the area is 615.44 square units

7

In [80]:
name=input("enter name:")
age=int(input("enter age:"))
print("name is{0}\nage is{1}".format(name,age))

enter name:vishnu
enter age:18
name isvishnu
age is18